extends layout

block content
    .container
        .row
            .col-md-12
                .card
                    .card-body
                        h1.card-title= title
                        h2.card-subtitle.mb-2.text-muted Author: #{book.author.name}
                        h3.card-subtitle.mb-2.text-muted Genre: #{book.genre.map(genre => genre.name).join(', ')}
                        p.card-text= book.summary