extends layout 

block content
    h1= title

    ul.list-group
        each genre in genres
            li.list-group-item
                a(href=genre.url) #[strong !{genre.name}]

    a.btn.btn-primary(href='/catalog/genre/create') Create Genre
