extends layout

block content
    h1 Create Genre
    form(method="POST", action="/genre/create")
        div
            label(for="name") Name:
            input(type="text", id="name", name="name", required, minlength="3")
        div
            input(type="submit", value="Submit")