doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // Bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    style.
      .sidebar {
        background-color: #f8f9fa;
        padding: 10px;
        border-right: 1px solid #dee2e6;
      }
      .main-content {
        padding: 10px;
      }
      .list-group-item {
        padding: 2px 15px;
        margin-bottom: 1px;
      }
  body
    div.container
      div.row
        div.col-md-2.sidebar

          a.list-group-item.list-group-item-action(href='/') Home

          h3 Catalog
          div.list-group
            a.list-group-item.list-group-item-action(href='/catalog/books') Books
            a.list-group-item.list-group-item-action(href='/catalog/authors') Authors
            a.list-group-item.list-group-item-action(href='/catalog/bookinstances') Book Instances
            a.list-group-item.list-group-item-action(href='/catalog/genres') Genres
    
          h3 Creation Forms
          a.list-group-item.list-group-item-action(href='/catalog/book/create') Create Book 
          a.list-group-item.list-group-item-action(href='/catalog/author/create') Create Author 
          a.list-group-item.list-group-item-action(href='/catalog/genre/create') Create Genre 
          a.list-group-item.list-group-item-action(href='/catalog/bookinstance/create') Create Book Instance

        div.col-md-10.main-content
          // Search bar
          form(action='/search', method='GET')
            div.form-group
              input.form-control(type='text', name='q', placeholder='Search books and authors...')
            button.btn.btn-primary(type='submit') Search

          block content
